<!-- Overview element for a clue,
     linking to its corresponding landmark's page -->

<a href="/<%= clue.borough %>/<%= clue.id %>/">
  <div class="clue-card">
    <div>
      <p><%= clue.haiku_line_1 %></p>
      <p><%= clue.haiku_line_2 %></p>
      <p><%= clue.haiku_line_3 %></p>
    </div>
    <% if (showTool !== 'none') { %>
    <div class="clue-toolbar">
      <% if (showTool === 'delete') {%> 
        <%- include ("./delete-btn.ejs", {clue}) %>
      <% } else if (showTool === 'save') { %> 
        <%- include ("./save-btn.ejs", {clue}) %> 
      <% } %>
      <p>
        <%= clue.author %> on <%= new
        Date(clue.submitted).toLocaleDateString("en-US") %>
      </p>
    </div>
    <% } %>
  </div>
</a>
