<div class="card">
  <a href="/<%= entry.borough %>/<%= entry.id %>">
    <p class="small-text"><%= capitalizeAll(entry.borough) %></p>
    <% if (entry.is_solved) { %>
    <h2><%= entry.name %></h2>
    <% } else { %>
    <h2 class="blurred">Anti-cheating dummy text</h2>
    <% } %> <% if (entry.haiku_line_1) { %>
    <div class="clue-card">
      <div>
        <p><%= entry.haiku_line_1 %></p>
        <p><%= entry.haiku_line_2 %></p>
        <p><%= entry.haiku_line_3 %></p>
      </div>
    </div>
    <% } else { %>
    <div class="clue-card empty"><p>No clues yet</p></div>
    <% } %>
  </a>
</div>
