<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/navigation.ejs"); %>
    <main>
      <div class="page-header">
        <p>Welcome back, <%= currentUser.username %></p>
        <p><%= message %></p>
      </div>
      <%- include("./partials/dashboard-nav.ejs", {selectedTab}); %>
      <article class="card-details">
        <h1><%= tabTitle %></h1>
        <% if (selectedTab === 'solved') { %>
        <div class="card-container">
          <% clues.map(clue => { %> <%- include("./partials/landmark-card.ejs",
          {entry: clue}) %> <% }) %>
        </div>
        <% } else { %> <%- include("./partials/dashboard-tabs.ejs",
        {selectedTab, clues}); %> <% } %>
      </article>
    </main>
  </body>
</html>
