<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fifty Fountains</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  </head>
  <body>
    <%- include("./partials/sidebar.ejs"); %>
    <main>
      <div class="page-header">
        <h1><%= title %></h1>
      </div>
      <article class="card-details">
        <p>
          <a href="/search?borough=<%= entry.borough %>"
            ><%= entry.borough %></a
          >
        </p>
        <h1><%= entry.name %></h1>
        <div class="categories">
          <% entry.categories ? entry.categories.split(",").map(category => { %>
          <p><%= category.trim() %></p>
          <% }) : null %>
        </div>
        <div class="fountain-facts">
          <div>
            <h2>Location</h2>
            <p>
              <%= entry.parkname ? entry.parkname : entry.location ?
              entry.location : "Not available" %>
            </p>
          </div>
          <div>
            <h2>Dedicated</h2>
            <p><%= entry.dedicated ? entry.dedicated : "Not available" %></p>
          </div>
          <div>
            <h2>Architect</h2>
            <p><%= entry.architect ? entry.architect : "Not available" %></p>
          </div>
        </div>
        <hr />
        <h2>Haiku clues</h2>
        <div class="clue-container">
          <a href="/fountain/<%= entry.id %>/add">
            <div class="clue-card"><p>+ Add a clue</p></div>
          </a>
          <% clues ? clues.map((clue) => { %>
          <div class="clue-card">
            <div class="haiku">
              <p><%= clue.haiku_line_1 %></p>
              <p><%= clue.haiku_line_2 %></p>
              <p><%= clue.haiku_line_3 %></p>
            </div>
            <div class="clue-details">
              <div class="votes">
                <button>up</button>
                <p><%= clue.votes %></p>
                <button>down</button>
              </div>
              <p>
                <%= clue.author %> on <%= new
                Date(clue.submitted).toLocaleDateString("en-US") %>
              </p>
            </div>
          </div>
          <% }) : null %>
        </div>
      </article>
    </main>
  </body>
</html>
