<!-- This page shows details for a landmark and allows
     the user to guess the landmark's name -->

<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/navigation.ejs") %>
    <main>
      <div class="page-header">
        <h1><%= title %></h1>
      </div>

      <article class="card-details">
        <a href="/<%= entry.borough %>">
          <p><%= entry.borough %></p>
        </a>
        <%- include("./partials/landmark-header.ejs", {entry, guessing}) %>

        <div class="categories">
          <% if (entry.categories) {
              entry.categories.split(",").map(category => { %>
                <p><%= category.trim() %></p>
            <% }
          )} %>
        </div>
        
        <div class="landmark-facts">
          <div>
            <h2>Location</h2>
            <p>
              <% if (entry.is_solved) { %>
                <%= entry.parkname ? entry.parkname : entry.location ?
                entry.location : "Not available" %>
              <% } else { %>
                <%= entry.parkname ? obfuscate(entry.parkname) : entry.location ?
                obfuscate(entry.location) : "Not available" %>
              <% } %>
            </p>
          </div>
          <div>
            <h2>Dedicated</h2>
            <p><%= entry.dedicated ? entry.dedicated : "Not available" %></p>
          </div>
          <div>
            <h2>Architect</h2>
            <p><%= entry.architect ? entry.architect : "Not available" %></p>
          </div>
        </div>

        <hr />
        <h2>Haiku clues</h2>
        <div class="clue-container">
          <%- include("./partials/blank-clue-card.ejs", {entry, message: '+ Add a clue'}) %> 
          <% if (clues[0].clueid) {
              clues.map((clue) => { %> 
                <%- include("./partials/clue-card.ejs", {clue, showTool: 'save'}) %> 
          <%  }) 
            } %>
        </div>

      </article>
    </main>
  </body>
</html>
