<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/sidebar.ejs"); %>
    <main>
      <div class="page-header">
        <h1><%= title %></h1>
      </div>
      <article class="card-details">
        <p>
          <a href="/<%= entry.borough %>"><%= entry.borough %></a>
        </p>
        <h1><%= entry.name %></h1>
        <div class="categories">
          <% entry.categories ? entry.categories.split(",").map(category => { %>
          <p><%= category.trim() %></p>
          <% }) : null %>
        </div>
        <div class="landmark-facts">
          <div>
            <h2>Location</h2>
            <p>
              <%= entry.parkname ? entry.parkname : entry.location ?
              entry.location : "Not available" %>
            </p>
          </div>
          <div>
            <h2>Dedicated</h2>
            <p><%= entry.dedicated ? entry.dedicated : "Not available" %></p>
          </div>
          <div>
            <h2>Architect</h2>
            <p><%= entry.architect ? entry.architect : "Not available" %></p>
          </div>
        </div>
        <hr />
        <h2>Haiku clues</h2>
        <div class="clue-container">
          <a href="/<%= entry.borough %>/<%= entry.id %>/add">
            <div class="clue-card empty"><p>+ Add a clue</p></div>
          </a>
          <% clues ? clues.map((clue) => { %>
          <div class="clue-card">
            <div>
              <p><%= clue.haiku_line_1 %></p>
              <p><%= clue.haiku_line_2 %></p>
              <p><%= clue.haiku_line_3 %></p>
            </div>
            <div class="clue-details">
              <!-- <div class="votes">
                <button 
                onclick=""
                id="up-vote" 
                aria-label="Upvote this haiku">
                  <span>+</span>
                </button>
                <p><%= clue.votes %></p>
                <button id="down-vote" aria-label="Downvote this haiku">
                  <span>-</span>
                </button>
              </div> -->
              <p>
                <%= clue.author %> on <%= new
                Date(clue.submitted).toLocaleDateString("en-US") %>
              </p>
            </div>
          </div>
          <% }) : null %>
        </div>
      </article>
    </main>
    <!-- <script type="module" src="../eventHandlers/voteHandler.js"></script> -->
  </body>
</html>
