<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/sidebar.ejs"); %>
    <main>
      <div class="page-header">
        <h1><%= title %></h1>
        <p>
          <%= entries.length %> <%= entries.length === 1 ? "result" :
          "results"%>
        </p>
        <div></div>
      </div>
      <div class="card-container">
        <% entries.map(entry => { %>
        <div class="card">
          <a href="<%= entry.borough %>/<%= entry.id %>">
            <p class="small-text"><%= entry.borough %></p>
            <h2><%= obfuscate(entry.name) %></h2>
            <% if (entry.haiku_line_1) { %>
            <div class="clue-card">
              <div>
                <p><%= entry.haiku_line_1 %></p>
                <p><%= entry.haiku_line_2 %></p>
                <p><%= entry.haiku_line_3 %></p>
              </div>
            </div>
            <% } else { %>
            <div class="clue-card empty"><p>No clues yet</p></div>
            <% } %>
          </a>
        </div>
        <% }) %>
      </div>
    </main>
  </body>
</html>
