<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/navigation.ejs"); %>
    <main>
      <article class="sign-up card-details">
        <h1>Sign up</h1>
        <p class="small-text">
          Publish poems, favorite clues, and submit new landmarks
        </p>
        <form action="/sign-up" method="POST">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            name="username"
            required
            minlength="3"
            maxlength="30"
            value="<%= formEntry? formEntry['username'] : null%>"
          />
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            required
            minlength="8"
            value="<%= formEntry? formEntry['password'] : null%>"
          />
          <label for="confirm-password">Confirm Password</label>
          <input
            type="password"
            id="confirm-password"
            name="confirm-password"
            required
            minlength="8"
          />
          <% if (errors) { %>
          <div class="errors">
            <ul>
              <% errors.forEach(error => {%>
              <li><%= error.msg %></li>
              <% }); %>
            </ul>
          </div>
          <% } %>
          <button class="cta-btn" type="submit">Sign up</button>
        </form>
      </article>
    </main>
  </body>
</html>
